<h1><%= t('articles.edit') %></h1>

<%= form_for @article, url: article_path(@article), method: :put do |f| %>

	<%= render partial: 'form', locals: {f: f} %>

	<p>
		<%= f.submit t('articles.submit'), class: 'btn btn-primary' %>
	</p>

<% end %>
